<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-8 offset-md-1'>
      <h2>コメント一覧：<%= @comments.count %>件</h2>
      <%= render 'index', comments: @comments%>

    </div>
  </div>
</div>