<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>コメント編集</h2>
    <%= form_with model:@comment, local:true do |f| %>
      <%#= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: "form-control comment" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>