<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>退会(管理者用)</h2>
      <p>本当に退会してよろしいですか？</p>
        <%= link_to "退会する", admin_withdrawal_path, class: "btn-sm btn-success", method: :patch, data: { confilm: "本当に退会しますか？" } %>
        <%= link_to "退会しない", admin_user_path(@user), class: "btn-sm btn-danger" %>
    </div>
  </div>
</div>