<header>
  _admin_header.html
  <li>
    <%= link_to "会員一覧", admin_users_path %>
  </li>
  <li>
    <%= link_to "映画一覧", admin_movies_path %>
  </li>
  <li>
    <%= link_to "レビュー一覧", admin_reviews_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
</header>