<header>
  _user_header.html
  <li>
    <%= link_to "映画一覧", movies_path %>
  </li>
  <li>
    <%= link_to "映画新規登録", new_movie_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
</header>